// ==========================================================================
// Scaffolding
// ==========================================================================

// apply a natural box layout model to all elements via http://paulirish.com/2012/box-sizing-border-box-ftw/
// universal selector doesn't apply to pseudo-elements, so: http://jsfiddle.net/grewis/nHaxL/4/
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
  // scss-lint:disable DuplicateProperty
  background: $blue; // fallback for IE9
  // http://css-tricks.com/probably-dont-base64-svg/
  // encoded svg with URL encoder
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSI1MCI+CjxyZWN0IHdpZHRoPSIyOCIgaGVpZ2h0PSI1MCIgZmlsbD0ibm9uZSI+PC9yZWN0Pgo8cGF0aCBkPSJNMTQgMzNMMCAyNUwwIDhMMTQgMEwyOCA4TDI4IDI1TDE0IDMzTDE0IDUwIiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLW9wYWNpdHk9IjAuMyI+PC9wYXRoPgo8cGF0aCBkPSJNMTQgMEwxNCAxN0wwIDI1TDAgNDJMMTQgNTBMMjggNDJMMjggMjVMMTQgMTciIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZWVlZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2Utb3BhY2l0eT0iMC4zIj48L3BhdGg+Cjwvc3ZnPg=="),
              linear-gradient(to bottom, $green 0%, $blue 100%) fixed;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.outer-container {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;

  @include breakpoint(extra-large-desktop) {
    max-width: 1400px;
  }

  @include breakpoint(extra-extra-large-desktop) {
    margin: 0 auto;
  }

  @include breakpoint(all-mobile) {
    max-width: 100%;
    margin-top: auto;
  }
}

.inner-container {
  background-color: $color-inner--container;
}

// Primary
// ==========================================================================
.primary {
  padding: 4% 4% 12% 6%;
  width: 70%;

  @include breakpoint(smaller-than-small-desktop) {
    padding: 6% 6% 12%;
  }
}

// Secondary
// ==========================================================================
.secondary {
  padding: 6% 6% 4% 4%;
  width: 30%;

  @include breakpoint(smaller-than-small-desktop) {
    padding: 6%;
  }
}

.primary,
.secondary {
  float: left;

  @include breakpoint(smaller-than-small-desktop) {
    float: none;
    width: auto;
  }
}

// Footer
// ==========================================================================
.site-footer {
  padding: 6%;

  @include breakpoint(all-mobile) {
    padding: 9% 6%;
  }

  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    padding: 12% 6%;
  }
}
